.bg-info-pan{
    background-color: #FFFBF0;
}
.btn-success-pan{
    background-color: #A4BC46;
}
.btn-success-pan:hover{
    background-color: #A4BC46;
}
.bg-secondary-pan{
    background-color: #F1F1F1;
}